.boardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.gameBoard {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 1px
}

/* .square {
  background-color: rgb(206, 236, 255);
}

.hit {
  background-color: tomato;
}

.miss {
  background-color: white;
}

.ship {
  background-color: rgb(0, 0, 0);
} */